.page {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container {
   height: 500px;
   background: #ffffff;
   box-shadow: 0px 4px 50px 2px rgba(0, 0, 0, 0.15);
   border-radius: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
}

.headerContainer {
   font-family: 'Baloo';
   font-weight: 800;
   display: flex;
   justify-content: center;
   align-items: end;
   padding: 16px;
   height: 150px;
   width: 100%;
   border-radius: 20px 20px 0 0;
   color: #ffffff;
   font-size: 40px;
   background-image: url('../../static/images/dawggie_background.svg');
}

.formContainer {
   padding: 0 100px;
}

.inputContainer {
   margin-bottom: 15px;
}

.singUpContainer {
   margin-bottom: 15px;
   font-weight: 600;
   font-size: 12px;
   color: #f5c678;
   cursor: pointer;
}